.width-wrapper {
    display: flex;
    background: rgb(53, 89, 144);
    color: white;
    border-top: 10px solid rgb(30, 59, 104);
    justify-content: center;
}

.header {
    flex-grow: 1;
    font-size: 28px;
    font-weight: 300;
    padding: 15px 10%;
    max-width: 800px;
}
