.section {
    margin: 0 5%;
    margin-top: 15px;
    padding: 0 5%;
    box-shadow: 0 0 1px 1px rgba(230, 230, 230, 0.521);
    background: #fff;
}

.section-title {
    color: rgb(53, 89, 144);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    border-bottom: 1px solid rgb(216, 216, 218);
}

@media (min-width: 600px) {
    .section-items {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        row-gap: 10px;
        padding-bottom: 20px;
    } 
}

@media (max-width: 600px) {
    .section-items {
        display: grid;
        row-gap: 10px;
        padding-bottom: 20px;
    }
    
}

input, textarea, select, option {
    font-family: 'Roboto', sans-serif;
    border-radius: 1px;
    font-size: 14px;
    border: 1px solid rgb(216, 216, 218);
    min-height: 20px;
}

input::placeholder, textarea::placeholder {
    color: rgb(216, 216, 218);
    font-size: 13px;
}

/* Select specific styling */
select {
    color: black;
    padding: 3px 6px;
}

select.initial {
    color: rgb(216, 216, 218);
}

option {
    color:black;
}

option:first-of-type {
    color: rgb(216, 216, 218);
    font-size: 13px;
}

/* ---------------- */

textarea {
    min-height: 120px;
    resize: none;
}

.description-text {
    color: rgb(216, 216, 218);
    font-size: 10px;
    font-style: italic;
    display: flex;
    height: 12px;
}

#desc-right {
    margin-left: auto;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
}

.input-wrapper-row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}


