.section {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15px;
    padding: 0 5%;
    box-shadow: 0 0 1px 1px rgba(230, 230, 230, 0.521);
    background: #fff;
}

.section-title {
    color: rgb(53, 89, 144);
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 15px;
    border-bottom: 1px solid rgb(216, 216, 218);
}

.section-items {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

input, textarea, select, option {
    font-family: 'Roboto', sans-serif;
}

input::placeholder, textarea::placeholder {
    color: rgb(216, 216, 218);
    font-size: 13px;
}

select {
    color: black;
}

select.initial {
    color: rgb(216, 216, 218);
}

option {
    color:black;
}

option:first-of-type {
    color: rgb(216, 216, 218);
    font-size: 13px;
}

.description-text {
    color: rgb(216, 216, 218);
    font-size: 11px;
    font-style: italic;
}

#desc-right {
    margin-left: auto;
}