.success {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 25px;
    padding: 0 5%;
    box-shadow: 0 0 1px 1px rgba(230, 230, 230, 0.521);
    background: rgb(240, 252, 243);
}

.success-title {
    color: rgb(112, 191, 117);
    font-weight: 500;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 15px;
}

.success-message {
    display: grid;
    padding-bottom: 25px;
    font-size: 13px;
    font-weight: 500;
    color: rgb(103, 103, 103);
}
