.main {
  background: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
}

.main-width-wrapper {
  flex-grow: 1;
  max-width: 1000px;
}

.invalid {
  border-color: rgb(255, 178, 178);
}

.invalid-label {
  color: rgb(255, 178, 178) !important;
}
